#container{
    height:40vh;
    width: 50%;
    border: 1px solid black;
    margin-bottom: 10px;
    overflow-y: auto;
}
.border{
    border-bottom: 1px solid black;
    height: 40px;
    padding-left: 50px;
    padding-top: 30px;
    position: relative;
}
#newComment{
    width:50%;
    padding-left:30px;
}
.picture{
    width:40px;
    height:40px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    border-radius: 50px;
    background-size: cover;
}
.text{
    position: absolute;
    top: 2px;
    left: 5px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
#name, #avatar{
    width:50%;
    margin-bottom: 20px;
}